h1, p, html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app{
    font-family: 'Inter', sans-serif;
}

.app-header{
    width: 100%;
    height: 55px;
    background: #F55A5A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14.46px;
    margin-bottom: 25px;
}

img{
    margin-right: 7px;
}

.card-container{
    padding: 25px 0;
    border-top: none;
    width: 470px;
    margin: 0 auto;
}

.card-container ~ .card-container {
    border-top: 1px solid #F5F5F5;
}

.card{
    height: 168px;
    display: flex;
    justify-content: space-between;
}

.image{
    width: 125px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-container{
    display: flex;
    margin-bottom: 5px;
}

.fa-location-dot,
.country,
.google-maps-link,
.date,
.description{
    font-size: 10.24px;
}

.fa-location-dot{
    color: #F55A5A;
}

.country{
    margin-left: 3px;
    letter-spacing: 1px;
}

.google-maps-link{
    color: #918E9B;
    margin-left: 8px;
}

.headline{
    font-size: 25px;
}

.date{
    margin: 14px 0 7px;
}

.description{
    width: 326px;
    line-height: 1.3;
}